* {

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

.bloc {

    width: 60%;
    margin: auto;
    margin-top: 4%;
    background-color: rgb(33, 33, 129);
    padding: 3%;
}

.container {
    margin: auto;
    display: flex;
    align-items: stretch;
    background-color: #fffffffb;
    box-shadow: 3px 4px 5px black;
    border-radius: 10px;
    
}

/* --- FORMULAIRE --- */

form {
    width: 90%;
    margin: auto;
}

form h1 {

    color: blueviolet;
    font-size: medium;
    margin: 5% auto;
}

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

form fieldset legend {

    font-size: 2rem;
    font-weight: bolder;
    margin: 2.1% auto;
    text-transform: uppercase;
}

form fieldset #btn_google {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: 2% auto;
    padding: 1.4%;
    background-color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgba(224, 224, 224, 0.726);
}

form fieldset #text { 
    display: block;
    margin: 2% auto;
    width: 65%;
}

form fieldset .form_items {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.3rem;
    width: 65%;
    margin: 2% auto;
}

form fieldset .form_items label {
    text-align: left;
    font-size: medium;
}

form fieldset .form_items input {

    text-align: left;
    margin-bottom: 2%;
    height: 25px;
    border: solid 1px white;
    border-radius: 5px;
}

form fieldset .form_text { 
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: 2% auto;
}

form fieldset .form_items #btn_connect {

    text-align: center;
}

section {

    background-color: rgb(152, 152, 247);
    padding: 4%;
    border-radius: 0 10px 10px 0;
}
